numpy
python-dotenv
langchain==0.2.1
langchain_openai
pandas
google-api-python-client
youtube_transcript_api
sentence_transformers
yandex-chain==0.0.8
openpyxl
faiss-cpu
deepmultilingualpunctuation
-e .